.checkout {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  /* background-color: #ddd; */
  padding: 20px;
  width: 100%;
}
.checkout__left {
  flex: 0.75;
}
.checkout__left img {
  width: 100%;
}
.checkout__right {
  flex: 0.25;
  display: flex;
  flex-direction: column;
}
.checkout__title {
  border-bottom: 1px solid lightgray;
  padding: 10px;
}
.basket__items {
  display: flex;
  flex-direction: column;
  /* height: 200px; */
}
.basket__items img {
  width: 180px;
}
@media (max-width: 650px) {
  .checkout {
    flex-direction: column;
  }
}
