.navbar {
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  width: 100% !important;
  padding: 0.1rem 0;
  box-sizing: border-box;
  color: white;
  /* padding-right: 0px; */
}
.navbar img {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}
.navbar__serach {
  display: grid;

  grid-template-columns: 0.1fr 1fr 0.05fr;
  flex: 1;
  min-width: 50px;
}
.navbar__serach > span {
  display: grid;
  place-content: center;
  align-items: center;
  grid-auto-flow: column;
  font-size: 1rem !important;
  background-color: rgb(192, 192, 192);
  padding: 0.8em;
  color: rgb(54, 54, 54);
  box-sizing: border-box;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.cart__icon {
  font-size: 1.5rem;
  height: 100% !important;
}
.cart__icon > span {
  font-size: 1rem;
}
.cart__icon:hover {
  outline: 2px solid white;
}

.nav__search-btn {
  grid-column: 3 / 4;
  padding: 0.8em;
  display: grid;
  place-content: center;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 1rem !important;
  background-color: #cd9042;
  border: none;
  color: white;
}
.navbar__serach > input {
  grid: 2 / 3;
  outline: none;
  padding: 0.8rem;
  font-size: 1rem;
  outline: none;
  border: none;
  min-width: 10px;
}
.navbar__nav {
  display: flex;
  align-items: center;
  color: white;
  padding: 3px;
  user-select: none;
}
.nav__option {
  display: grid;
  place-content: center;
  text-align: left;
  margin: 0 0.5em;
  height: 100%;
  /* flex: 1; */
  cursor: pointer;
  padding: 5px;
}
.nav__option:hover {
  outline: 1.8px solid white;
}
.nav__optionLineOne {
  font-size: 0.71em;
  color: rgb(173, 173, 173);
}
.nav__optionLineTwo {
  font-weight: bold;
}
.cart__icon {
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.cart__icon span {
  margin: 0 10px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #fff;
}
.nav__mobile__menu,
.top_nav div {
  visibility: hidden;
  display: none;
}
.top_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user__address {
  display: grid;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
  padding: 5px;
  height: 100%;
  place-content: center;
  grid-template-columns: 0.05fr 1fr;
  flex: 0.2;
}
.user__address:hover {
  outline: 2px solid white;
}
.user__address > section {
  display: grid;
  place-content: center;
}
.user__address > section > span {
  font-size: 0.8rem;
  font-weight: bold;
  color: grey;
}
/* media queries  */
@media (max-width: 750px) {
  .navbar__nav {
    display: none;
  }
  .user__address {
    display: none;
  }
  .navbar {
    display: grid !important;
    grid-auto-flow: row;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr;
  }
  .navbar img {
    grid-column: 2 / 1 !important;
    grid-row: 1 / 2;
    width: 50px !important;
    object-fit: contain;
    margin: 0;
  }
  .cart__icon {
    font-size: 1rem;
    grid-row: 1 / 2;
    margin: 0;
    grid-column: 1 / 2 !important;
  }
  .nav__mobile__menu {
    visibility: visible;
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .navbar__serach {
    grid-template-columns: 1fr 0.05fr;
    grid-column: 1 / 4;
  }
  .navbar__serach > input {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    grid-column: 1 / 2;
  }
  .nav__search-btn {
    grid-column: 2 / 3;
  }
  .navbar__serach > span {
    display: none;
  }
  .top_nav div {
    display: flex;
    visibility: visible;
  }
}
