* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.product {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  z-index: 1;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
  padding: 20px;
  width: 100% !important;
  flex: 1;
  /* border: 1px solid black; */
  height: 400px;
  border-radius: 1em;

  transition: 0.5s;
}

.product > button {
  padding: 3px;
  background-color: #cd9042;
  border: none;
  outline: none;
  cursor: pointer;
}
.cart__item {
  flex-direction: row-reverse;
}
.product img {
  height: 180px;
  /* width: 100%; */
  /* background-color: #000; */
  object-fit: contain;
  margin-bottom: 15px;
  /* border: 1px solid black; */
}
.product__header {
  width: 100%;
  color: rgb(31, 31, 31);
  font-weight: 400;
}
.product__rating {
  display: flex;
  align-items: center;
}

.cart__product {
  display: flex;
  background-color: #fff;
  z-index: 1;
  margin: 10px;
  padding: 10px;
  /* width: 100%; */
  max-height: 400px;
  max-width: 100%;
}
.product__image > img {
  max-height: 100%;
  /* border: 1px solid black; */
  object-fit: contain;
  width: auto;
  /* flex: 0.2; */
  margin: 0 20px;
}
.product__footer {
  flex: 0.2;
  width: 100%;
  display: grid;
  place-content: center;
}
.product__price {
  color: #b12704;
  font-weight: 600;
  font-size: 1.2rem;
}
.product__image {
  flex: 1;
}

.product button {
  background-color: #fa8900 !important;
  /* border-radius: 3px; */
  color: white;
  min-width: 150px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px !important;
  font-size: 0.8rem;
  border-radius: 20px;
  border: 1px solid;
  outline: none;
  cursor: pointer;
}
@media (max-width: 695px) {
  .cart__product {
    flex-direction: column;
  }
  .product {
    min-width: 200px;
  }
}
